* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*  background-color: #f2f2f2;
 */
}
:root {
  --color1: black;
}
.button {
  text-align: center;
  border: none;
  transition: transform 0.2s; /* Animation */
  color: white;
  background-color: #03a9f5;
  padding: 10px;
  /*  width: 100px;
  */
  border-radius: 5px;
}
/* .button:hover {
  background-color: black;
} */

.footer {
  width: 100%;
}
.footer img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .MenuLinks a:not(:first-child) {
    display: none;
  }
  .MenuLinks a.icon {
    float: center;
    display: block;
  }
}

a {
  text-decoration: none;
}

/* Headerrrr*/

/*NAVIGATION*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  min-height: 72px;
  padding-top: 10px;
  padding-left: 12%;
  width: 100%;
}

.logo-container {
}

.logo {
  color: var(--color1);
  text-transform: uppercase;
  position: absolute;
  width: 80px;
  left: 60px;
  top: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--color1);
  opacity: 0.6;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all, 0.4s;
}

.nav-links a:hover {
  border-bottom: 2px solid var(--color1);
  opacity: 1;
}

.user-section {
  margin-right: 60px;
  margin-top: 10px;
}

.user-avatar {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 50%;
}

.user-dropdown-arrow {
  display: inline-block;
  margin-bottom: 32px;
}

.dropdown-arrow {
  color: var(--color1);
  align-content: right;
}

.burger {
  display: none;
}

.burger div {
  height: 4px;
  width: 24px;
  margin: 4px;
  background-color: var(--color1);
}

.close-icon {
  position: absolute;
  top: 50px;
  right: -15%;
  opacity: 0;
  display: none;
  transform: rotate(90deg);
  transition: all 2s;
}

/*HERO BANNER*/
.hero-banner {
  border-radius: 50px;
  background-color: #f2f2f2;
  height: 100px;
  width: 100%;
  
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-content {
  position: absolute;
 
  left: 60px;
  width: 75%;
  max-width: 520px;
  min-width: 280px;
}
.hero-header {
  font-size: 64px;
  font-weight: 500;
  color: var(--color1);
  margin-bottom: 20px;
}

.hero-sub {
  font-size: 18px;
  font-weight: 300;
  color: var(--color1);
  line-height: 1.5;
  margin-bottom: 28px;
}

/*BUTTONS*/
.btn-round-solid {
  background-color: var(--color1);
  color: white;
  border: none;
  height: 48px;
  width: 220px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 24px;
  margin: 20px 20px 0px 0px;
}

.btn-round-clear {
  background-color: transparent;
  color: var(--color1);
  border: 2px solid var(--color1);
  height: 48px;
  width: 220px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 24px;
  margin: 20px 20px 0px 0px;
}

ion-icon {
  font-size: 24px;
  vertical-align: middle;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 10, 20, 0.9)
    );
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 500;
  }
  .nav-links a {
    position: absolute;
    margin-left: 10%;
    color: white;
    /*border-left: 4px solid rgba(255,255,255,0);*/
    border-bottom: none;
    font-size: 16px;
    width: 150px;
  }

  .nav-links a:hover {
    /*border-left: 4px solid rgba(255,255,255,1);*/
    border-bottom: none;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .burger {
    display: block;
    position: absolute;
    left: 10%;
  }

  .close-icon-active {
    display: block;
    opacity: 1;
    transform: rotate(0deg);
  }

  .logo-container {
    position: relative;
    left: 30%;
  }

  .logo {
    color: var(--color1);
    text-transform: uppercase;
    position: static;
  }
}

/* Headerrrr*/

/* slider */

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.SliderTop {
  padding-top: 10px;
  display: flex;

  width: 90%;

  margin: 0 auto;

  height: 550px;
}
.SliderTop .Mitad1 {
  float: left;
  width: 50%;
}

.SliderTop .Mitad1 .Video {
  width: 100%;
}
.SliderTop .Mitad2 {
  margin-left: 2%;
  height: 100%;
  float: right;
  width: 45%;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.SliderTop .actions {
  width: 100%;
  height: 100px;
}
.SliderTop .actions .button {
  margin-left: 88%;
  
}

.SliderTop .Mitad2 .TitleSec {
  margin-left: 2%;
}

.SliderTop .Mitad2 .item {
  margin: 10px;
  height: 110px;
  width: 90%;
  border-radius: 10px;
  background-color: white;
}
.SliderTop .Mitad2 .item:hover {
  background-color: #03a9f5;
}
.SliderTop .Mitad2 .item .contedorCard:hover {
  color: white;
}
/* .SliderTop .Mitad2 .item .imageCardMin {
  float: left;
  width: 30%;
  height: 100%;
} */
.SliderTop .Mitad2 .item img {
  float: left;
  /*  width: 30%; */
  height: 100%;
  border-radius: 10px;
}
.SliderTop .Mitad2 .item .contedorCard {
  height: 100%;
}
.SliderTop .Mitad2 .item .contedorCard {
  text-align: left;
  /* width: 100%;
  height: 100%; */
  /*  padding-top: 1px; */
  color: #03a9f5;
}
.SliderTop .Mitad2 .item .contedorCard .descrip  {
  padding-left: 130px;
 padding-top: 2px;

}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #03a9f4;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 20px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  transform: scale(1.5);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #03a9f5;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* container ----------*/
.container2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  /*  height: 100vh; */
  margin: 0 auto;
}
.container2 .recurso2 img {
  width: 100%;
}

.container2 .descripcion {
  height: 500px;
  width: 100%;
  margin-top: 120px;
}
.container2 .descripcion .sec1 {
  margin-top: 100px;
}

.container2 .descripcion .sec2 {
  margin-top: 100px;
}
.descripcion {
  background-image: url("./img/recurso.png");
  /*  padding: 20px 10px;
  */ /* margin: 2%;
 */
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  height: auto;
}
.sec1 .imageDe2 {
  margin: 2% 35%;
  width: 220px;
}
.sec1 {
  padding-left: 10%;
  float: left;
  width: 50%;
}
.sec2 {
  float: right;
  width: 50%;
}
.sec2 img {
  margin: 2% 35%;
  width: 180px;
}
/* cards sliders */

/* Google Pruebas  */
#___gcse_0 {
  background-color: black;
}

.gsc-result-info {
  display: none;
}
.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-breadcrumb {
  display: none;
}
.gcsc-more-maybe-branding-root {
  display: none;
}
.gs-bidi-start-align.gs-snippet {
  margin-top: 20px;
}
.gsc-control-cse {
  border-color: #ffffff;
  background-color: black;
}
.gsc-control-cse {
  background-color: black;
  border: 1px solid #fff;
}

.gs-webResult.gs-result {
  background-color: white;
  padding: 20px;
}
.gs-title {
  color: black;
}

.gs-webResult.gs-result div::before {
  background: #03a9f4;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}
.gs-webResult.gs-result div::after {
  bottom: 0;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
  border-left: 18px solid #03a9f4;
  content: "";
  display: block;
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}

b {
  color: #03a9f5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 4px 16px;
}

#cards-container {
  overflow: hidden;
  margin: 20px;
}

.cardsSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99999px;
}

.card2 {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 235px;
  margin: 15px 7.5px;
}

.card2:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card2 .img {
  max-width: 220px;
  height: 220px;
  display: inline-block;
}

#slide-left-container,
#slide-right-container {
  display: none;
}

#slide-left-container.active,
#slide-right-container.active {
  display: block;
  cursor: pointer;
}

.container .slide-left,
.container .slide-right {
  border-color: black;
  border-style: solid;
  height: 20px;
  width: 20px;
  margin-top: 30%;
}

.slide-left {
  border-width: 4px 0 0 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 40%;
}

.slide-right {
  border-width: 4px 4px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 22%;
}

.MenuCards {
  background-color: #f2f2f2;
  border-radius: 40px;
  padding: 10px 180px;
  display: grid;
  padding-bottom: 100px;
}

.Cards {
  border-radius: 40px;
  display: grid;
  /* grid-gap: 1px;
 */
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

.Cards .card {
  background-color: white;
  display: flex;
  flex-direction: row;

  transition: transform 0.2s; /* Animation */

  border-radius: 30px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  height: 400px;
}
.MenuCards .dots {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}
.card:hover {
  color: white;
  background-color: #03a9f5;
  transform: scale(1.1);
}
.card:hover .button {
  color: #03a9f5;
  background-color: white;
}
.card .cardContainer {
  text-align: center;
  padding: 20px;
}
.card .cardContainer .button {
  padding: 10px 50px;
}
.card img {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* prueba curva */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
